header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:brown;
    padding: 30px 30px;
  }
  
  .menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20pt;
    position: absolute;
    top: 0px;
    left:200px;
    display: inline-block; 
    position:relative;
    float:left;
border-right:0px solid #c0c0c0;
justify-content: center;
    align-items: center;
    font-family: monospace;
    
}

  .nav{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    color: aliceblue;
    padding: 0 1 rem;
  }

  .nav ul{
    display: flex;
    list-style-type: none;
  }

  .nav ul li{
    margin: 0 10px;
    padding: 0 70px;
  }

  .nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    transition: all ease .4s;
  }

  .nav ul li a:hover{
    color: rgb(228, 88, 63);
  }
  
  